<div class="container-fluid m-0">
    <p>Board Platform</p>
    <div class="row">
      <div class="col-3 text-bg-secondary p-3">
        <div>
            <div class="row mb-3">
                <div class="col">
                    <p class="fw-bold mt-2" >Your boards</p><!-- + event -->
                </div>
                <div class="col d-flex justify-content-end">
                    <button mat-mini-fab aria-label="Example icon button with a menu icon" (click)="openBoardForm()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                @if(displayBoardForm){
                    <div>
                        <form class="example-form">
                            <div>
                            <mat-form-field class="example-full-width">
                              <mat-label>Title</mat-label>
                              <input matInput placeholder="Ex. To do" #boardTitle>
                            </mat-form-field>
                            </div>
                            <button mat-raised-button (click)="createNewBoard(boardTitle.value)" [disabled]="!boardTitle.value.trim()">Create</button>
                        </form>
                    </div>
                }
            </div>
        </div>
        <div>
            <div *ngFor="let board of boards()" (click)="selectBoard(board)" [class.selected]="board === selectedBoard">
                <div class="row pb-1 pt-1">
                    <div class="col" (click)="selectBoard(board)">
                        <p class="fw-bold mt-2" >{{board.title}}</p><!-- + event -->
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button mat-mini-fab (click)="deleteBoard(board.id ?? 0)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-divider/> 
            </div>

        </div>
      </div>
      <div class="col-9 text-bg-primary p-3">
        @if(selectedBoard){
          <p>BOARD: {{selectedBoard.title}}</p>
        } 
        <div class="grid-container">
          <ng-container *ngFor="let list of lists">
            <div class="grid-item">
              <app-list [list]="list"></app-list>
            </div>
          </ng-container>
        </div>
        <div class="pt-2" style="padding-left: 28px;">
          <mat-card appearance="outlined" class="pl-5" style="width: 220px;">
            @if(!displayListForm){
            <button mat-stroked-button (click)="openListForm()">+ Add another Table</button>
            }
            @if(displayListForm){
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Enter list name..." #listTitle>
                  <div>
                    <button mat-stroked-button (click)="createNewList(listTitle.value)" [disabled]="!listTitle.value.trim()">+ Add list</button>
                  </div>
                  <button mat-stroked-button (click)="openListForm()">X</button>
                </mat-form-field>
              </form>
            }
          </mat-card>
        </div>
      </div>
    </div>
  </div>
