<div class="container p-2 min-vw-10" style="width: 250px;">
  <mat-card appearance="outlined">
    <div class="m-2 d-flex flex-column align-items-center text-center">
      <mat-card-header class="text-dark">{{ list.title }}</mat-card-header>
      <div *ngFor="let card of cards">
            <app-card [card]="card"></app-card>
      </div>
      <div> 
        @if(!displayCardForm){
          <button mat-stroked-button class="mt-2" (click)="toggleCardForm()">+ Add a card</button>
        }
        @if(displayCardForm){
          <form class="example-form example-full-width">
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Enter title..." #cardTitle>
              </mat-form-field>
            </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <input matInput placeholder="Enter description..." #cardDescription>
            </mat-form-field>
          </div>
            <div class="pb-1">
              <button mat-stroked-button (click)="createNewCard(cardTitle.value, cardDescription.value)" [disabled]="!cardTitle.value.trim() || !cardDescription.value.trim()">+ Add card</button>
            </div>
            <button mat-stroked-button (click)="toggleCardForm()">X</button>
        </form>
        }
      </div>
    </div>
  </mat-card> 
</div>